<div class="slds-grid slds-grid_pull-padded-medium">
    <div class="slds-col slds-p-horizontal_medium slds-border_right">
        <div class="homeHeroChart" >
            <div class="homeHeroChartHeader">
                <h2 class="slds-text-heading--small title">Quarterly Performance</h2>
                <span class="slds-text-title slds-m-left--small">Week View</span>
                <div class="slds-grid slds-grid--vertical-align-center slds-float--right">
                    <span class="timestamp">As of Today 9:14:13 AM</span>
                    <button class="slds-button slds-button--icon-border" type="button">
                        <svg class="slds-button__icon">
                            <use xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#refresh"></use>
                        </svg>
                    </button>
                </div>
                <ul class="metricRow">
                    <li class="metric">
                        <span class="metricLabel">Closed</span>
                        <span class="metricAmount">$0</span>
                    </li>
                    <li class="metric">
                        <span class="metricLabel">Open (>70%)</span>
                        <span class="metricAmount">$0</span>
                    </li>
                    <li class="metric">
                        <span class="metricLabel">Goal</span>
                        <span class="metricAmount">--</span>
                        <button class="slds-button slds-m-left_x-small slds-p-bottom_x-small slds-button_icon-bare">
                            <svg class="slds-button__icon">
                                <use xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
            <div class="chartBody">
                <div class="chartwrapper">
                    <div class="slds-text-align_center message">
                        Add the opportunities you're working on, then come back here to view your performance
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-grid slds-m-horizontal_medium">
            <div class="slds-size_1-of-2 slds-m-right_x-small slds-box">
                <div class="slds-text-heading_small">Upcoming Events</div>
                <div class="slds-p-top_medium slds-p-horizontal_x-large assist-text">Looks like you're free and clear the rest of the day</div>
            </div>
            <div class="slds-size_1-of-2 slds-m-left_x-small slds-box">
                <div class="slds-text-heading_small">Today's Tasks</div>
                <div class="slds-p-top_medium slds-p-horizontal_x-large assist-text">Nothing due today-go grab a coffee while there's still time</div>
            </div>
        </div>
        <div class="slds-grid slds-m-horizontal_medium slds-m-top_medium">
            <div class="slds-size_1-of-2 slds-m-right_x-small slds-box">
                <div class="slds-text-heading_small">Recent Records</div>
            </div>
            <div class="slds-size_1-of-2 slds-m-left_x-small slds-box">
                <div class="slds-text-heading_small">Top Deals</div>
            </div>
        </div>
    </div>
    <div class="slds-col slds-p-horizontal_medium">
        <div class="homeAssistant slds-m-top_large right-col">
            <div class="slds-text-heading_small">Assistant</div>
            <div class="slds-p-top_large slds-p-horizontal_x-large assist-text">Nothing needs your attention right now. Check back later.</div>
        </div>
    </div>
</div>