<global-header></global-header>

<div class="oneapp-nav">
    <global-nav></global-nav>
</div>

<div class="slds-grid slds-wrap">
    <!-- left side gutter -->
    <!--
    <aside class="slds-size--1-of-6 slds-border--right">
        <div class="slds-grid slds-grid--vertical slds-navigation-list--vertical">
            <ul>
                <li class=""><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header">What I Follow</a></li>
                <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header">To Me</a></li>
                <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header">Bookmarked</a></li>
                <li><a href="javascript:void(0);" class="slds-navigation-list--vertical__action slds-text-link--reset" aria-describedby="entity-header">Company Highlights</a></li>
            </ul>
        </div>
    </aside>
    -->

    <router-outlet></router-outlet>
</div>