<div class="slds-grid slds-grid--frame slds-grid--pull-padded-medium">
    <div class="slds-size--1-of-2 slds-p-horizontal--medium left">

        <div class="login-container">
            <div class="input-container">

                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="username">Username</label>
                    <div class="slds-form-element__control">
                        <input type="text" id="username" class="slds-input" />
                    </div>
                </div>

                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="password">Password</label>
                    <div class="slds-form-element__control">
                        <input type="password" id="password" class="slds-input" />
                    </div>
                </div>

            </div>
        </div>


    </div>
    <div class="slds-size--1-of-2 slds-p-horizontal--medium trailhead-bg">
    </div>
</div>