<div class="slds-grid slds-grid--frame slds-grid--pull-padded-medium">
    <div class="slds-size--1-of-2 slds-p-horizontal--medium left">

        <div class="wrap">

            <div class="slds-image logo">
                <img src="../assets/SFDC_logo.png" alt="">
            </div>
            <div class="login-container">
                <em class="error slds-text-color--error" *ngIf="failedLogin">Invalid password, please try again</em>
                <div class="input-container">

                    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" novalidate>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="username">Username</label>
                            <div class="slds-form-element__control">
                                <input type="text" id="username" class="slds-input" formControlName="username" />
                            </div>
                        </div>

                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="password">Password</label>
                            <div class="slds-form-element__control">
                                <input type="password" id="password" class="slds-input" formControlName="password" />
                            </div>
                        </div>
                        <button type="submit" class="slds-button slds-button--brand">Login</button>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <div class="slds-size--1-of-2 slds-p-horizontal--medium trailhead-bg">
    </div>
</div>