<header class="slds-global-header_container">
    <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Navigation</a>
    <a href="javascript:void(0);" class="slds-assistive-text slds-assistive-text--focus">Skip to Main Content</a>
    <div class="slds-global-header slds-grid slds-grid--align-spread">
        <div class="slds-global-header__item">
            <div class="slds-global-header__logo">
                <img src="node_modules/@salesforce-ux/design-system/assets/images/logo-noname.svg" alt="" />
            </div>
        </div>
        <div class="slds-global-header__item slds-global-header__item--search">
            <div class="slds-form-element slds-lookup">
                <label class="slds-assistive-text" for="global-search-01">Search Salesforce</label>
                <div class="slds-form-element__control lookup__search-control slds-input-has-icon slds-input-has-icon--left">
                    <svg class="slds-input__icon" aria-hidden="true">
                        <use xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
                    </svg>
                    <input type="search" id="global-search-01" class="slds-input slds-lookup__search-input" placeholder="Search Salesforce" />
                </div>
            </div>
        </div>
        <ul class="slds-global-header__item slds-grid slds-grid--vertical-align-center">
            <li class="slds-grid">
                <button class="slds-button slds-button--icon slds-button--icon-container slds-button--icon-small slds-global-header__button--icon-favorites" title="Toggle Favorite">
                <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                    <use xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#favorite"></use>
                </svg>
                <span class="slds-assistive-text">Toggle Favorite</span>
                </button>
                <span class="slds-dropdown-trigger slds-dropdown-trigger--click">
                <button class="slds-button slds-button--icon slds-button--icon-container slds-button--icon-small slds-global-header__button--icon slds-m-left--none" aria-haspopup="true" title="View Favorites">
                    <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#chevrondown"></use>
                    </svg>
                    <span class="slds-assistive-text">View Favorites</span>
                </button>
                </span>
            </li>
            <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-p-horizontal--xxx-small">
                <button class="slds-button slds-button--icon slds-button--icon-small slds-button--icon-container slds-button--icon-x-small slds-global-header__button--icon-actions slds-m-horizontal--xx-small" aria-haspopup="true" title="Global Actions">
                <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
                <span class="slds-assistive-text">Global Actions</span>
                </button>
            </li>
            <li class="slds-dropdown-trigger slds-dropdown-trigger--click">
                <button class="slds-button slds-button--icon slds-button--icon-container slds-button--icon-small slds-global-header__button--icon" aria-haspopup="true" title="Help and Training">
                <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                    <use xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#question"></use>
                </svg>
                <span class="slds-assistive-text">Help and Training</span>
                </button>
            </li>
            <li class="slds-dropdown-trigger slds-dropdown-trigger--click">
                <button class="slds-button slds-button--icon slds-button--icon-container slds-button--icon-small slds-global-header__button--icon" aria-haspopup="true" title="Setup">
                <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                    <use xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#setup"></use>
                </svg>
                <span class="slds-assistive-text">Setup</span>
                </button>
            </li>
            <li class="slds-dropdown-trigger slds-dropdown-trigger--click">
                <button class="slds-button slds-button--icon slds-button--icon-container slds-button--icon-small slds-global-header__button--icon" aria-haspopup="true" title="Notifications">
                <svg class="slds-button__icon slds-global-header__icon" aria-hidden="true">
                    <use xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#notification"></use>
                </svg>
                <span class="slds-assistive-text">Notifications</span>
                </button>
            </li>
            <li class="slds-dropdown-trigger slds-dropdown-trigger--click slds-m-left--x-small">
                <button class="slds-button" title="person name" aria-haspopup="true" (click)="toggleUserPopover()">
                <span class="slds-avatar slds-avatar--circle slds-avatar--medium">
                    <img src="/assets/avatars/{{(currentUser ? currentUser.avatar : 'male2.png')}}" alt="person name" />
                </span>
                </button>
            </li>
        </ul>
    </div>

    <div [class.slds-hide]="hideUserPopover">
        <user-popover></user-popover>
    </div>

</header>